extends layout

block content
  div.header
    h1 Welcome to #{title}
    svg(style={width: '960', height: '500'})
    a(href="https://bl.ocks.org/mbostock/2d466ec3417722e3568cd83fc35338e3") Circle Wave by Mike Bostock
