extends layout

block content
  div.header
    h1 Welcome to #{title}

    div(id="view")
  
  section.histograms-wrapper 
    div.histogram-label
      h1 Histograms
    div.histograms-list
      div.histogram
        img(src="/images/histograms/age.png")
      div.histogram
        img(src="/images/histograms/civil_status.png")
      div.histogram
        img(src="/images/histograms/gender.png")
      div.histogram
        img(src="/images/histograms/education.png")
    
    
